[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
matplotlib = "*"
numpy = "*"
nbformat = "*"
yellowbrick = {extras = ["notebooks"], version = "*"}
setuptools = "*"
torch = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.12"
